SECRET_KEY = "YOUR_SECURITY_DJANGO_KEY"
OPENWEATHER_KEY = YOUR_OPENWEATHER_KEY
GROQ_API_KEY = YOUR_GROQ_API_KEY
DATABASE_URL = YOUR_DATABASE_URL
DEBUG_LOCAL = YOUR_DEBUG_STATUS
DJANGO_ENV = production
ALLOWED_HOSTS = YOUR_ALLOWED_HOSTS