{% extends 'core_app/layout.html' %}


{% block content %}
    <div class="reg_users_content">
        <h1> Quality data collection from web-sites with possibility of anonimity. </h1>
    </div>
    <div class="reg_users_content1">
        <h1> Build-in chat with Ai assistant based on 'llama3-70b-8192' model. </h1>
    </div>
    <div class="reg_users_content"> 
        <h1> Automate your routine work, such as the chain of actions or sending an emails, etc. </h1>
    </div>
    <div class="reg_users_content1">
        <h1> Also you can get weather data of all the World's cities through openweathermap API. </h1>
    </div>
{% endblock %}

