{% extends 'core_app/layout.html' %}


{% block content %}
    <div class="reg_users_content">
        <h1> Quality data collection from web-sites with possibility of anonimity. </h1>
    </div>
    <div class="reg_users_content1">
        <h1> Our method doesn't send a lot of requests to the server, instead just one per page. </h1>
    </div>
    <div class="reg_users_content"> 
        <h1> Also we can automate your routine work, such as the chain of actions or sending an emails, etc. </h1>
    </div>
{% endblock %}

