body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

header {
    width: 100%;
    min-height: 12em;
    background: white;
    line-height: 3.5em;
    overflow: hidden;
    text-align: right;
}

h1.main_article_title {
    display: inline-block; 
    line-height: 2em;
    margin-right: 1.5em;
    margin-top: 2.5em;
}

h1 {
    font-size: 2em;
}

nav {
    bottom: 0;
    left: 0;
    display: inline;
    line-height: 2.5em;
}

nav ul {
    list-style-type: none;
    margin-top: 4em;
    margin-left: -2em;
    margin-bottom: 3em;
    text-align: left;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 3em;
}

.buttons-header {
    background-color: black;
    border: none;
    color: white;
    width: 90px;
    height: 55px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.3em;
    font-size: 1.3em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.buttons-header:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.9s ease;
}

.buttons-header:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.6s ease;
    background-color: rgb(116, 116, 116);
}

.buttons-main {
    display: inline-block;
    background-color: rgb(179, 177, 177);
    color: black;
    width: 125px;
    height: auto;
    font-size: 1.3em;
    cursor: pointer;
    margin: 1em 1em 0em 0em;
}

.buttons-main a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.buttons-main-container {
    display: flex;
    justify-content: center;
}

main {
    margin-top: auto;
    display: block;
    min-height: 32em;
    height: auto;
    width: 100%;
}

.form-field {
    color: white;
    text-align: center;
}

.form-field label {
    color: white;
    display: block;
    margin-top: 2em;
    margin-bottom: 0.3em;
    font-size: 1.5em;
}

.form-field input[type="text"],
.form-field input[type="password"] {
    color: black;
    width: 30em;
    display: inline-block;
    border-radius: 3px;
    height: 2em;
}

div.reg_users_content {
    width: 100%;
    height: 6em;
    border-bottom: 1px solid white;
    line-height: 2.8em;
}

div.reg_users_content h1 {
    color: white;
    text-align: left;
    margin-left: 1em;
    margin-top: 1.5em;
    font-size: 2em;
}

div.reg_users_content1 {
    height: 8em;
    width: 100%;
    border-bottom: 1px solid white;
    line-height: 6em;
}

div.reg_users_content1 h1 {
    color: white;
    text-align: right;
    margin-right: 1em;
    font-size: 2em;
}

div.features {
    padding-top: 2em;
    color: white;
    text-align: center;
    display: block;
    padding-left: 10em;
    padding-right: 10em;
}

div.log_in_button {
    text-align: center;
}

div.log_in_button h3 {
    color: white;
    display: inline-block;
    font-size: 1.35em;
}

.link {
    color: #92e6fa;
    text-decoration: none;
}

.sign_in_congrats {
    color: white;
    margin-left: 2em;
}

footer {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-image {
    margin-top: auto;
    width: 100%;
}
/* Weather styles */
.weather_info {
    color: white;
    margin-left: 2em;
    margin-top: 2em;
}
.less_weather_data {
    text-transform: capitalize;
    text-align: center;
    position: fixed;
    font-weight: bold;
    color: rgb(0, 0, 0);
    top: 2.4em;
    left: 5em;
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.2em;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    width: auto;
}
.weather_image {
    position: fixed;
    width: 4em;
    height: auto;
    top: 1em;
    left: 0.8em;
}
.weather_form {
    margin-top: 1em;
    text-transform: capitalize;
}

.main_weather_input {
    display: block;
    width: auto;
    margin-top: 0;
    margin-left: 2em;
    float: left;
}
/* This part of code is for ai-chat */
.chat_container {
    color: rgb(211, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat_box {
    background-color: rgb(54, 52, 52);
    padding: 20px;
    height: 35em;
    width: 75%;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    border-radius: 0.3em;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message strong {
    display: block;
}

.chat-message.You {
    text-align: right;
}

.chat-message.You strong {
    color: #007bff;
}

.chat-message.Ai strong {
    color: #28a745;
}

.chat_input {
    padding: 10px;
    background-color: #000000;
    display: flex;
    width: 100%;
    margin-left: 18%;
}

.chat_input form {
    display: flex;
    width: 100%;
}

.text_request {
    width: 65%;
    height: 3em;
    border-radius: 0.7em;
    padding: 0 1em;
    resize: vertical;
    line-height: 1.5em;
}

.chat_input button {
    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
    height: auto;
    margin-left: 0.3em;
    border-radius: 0.4em;
}

.chat_input button:hover {
    background-color: #0056b3;
}

.chat_clear button {
    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.chat_clear button:hover {
    background-color: red;
}


@media(max-width: 600px){
    .buttons-header {
        font-size: 1.5em;
        width: 75px;
        height: 25px;
        line-height: 1.5em;
        padding-top: 0.5em;
        display: block;
    }
    .buttons-main {
        min-height: 3em;
    }
    body{
        font-size: 0.5em;
    }
    header {
        min-height: 25em;     
        overflow: visible;
        position: relative;
        text-align: center;
        line-height: 1em;
    }
    p #text {
        font-size: 1.8em;
    }
    main {
        min-height: 50em;
    }
    h1 {
        font-size: 3em;
        line-height: 1em;
    }
    h3 {
        font-size: 2em;
    }
    nav {
        display: flex;
        width: 100%;
        margin-left: 0em;
        float: none;
        justify-content: center;
    }
    nav ul {
        display: inline-flex;
        margin-top: 2em;
        position: absolute;
        align-items: center;
        padding: 0;
        margin: 0;
        bottom: 0;
    }
    nav ul li {
        text-align: center;
        height: auto;
        position: relative;
        bottom: 0;
    }
    .form-field input[type="text"],
    .form-field input[type="password"] {
        width: 20em;
        font-size: 1.3em;
        height: 1.8em;
    }
    .form-field label {
        color: white;
        display: block;
        margin-top: 2em;
        margin-bottom: 0.3em;
        font-size: 1.5em;
    }

    div.reg_users_content {
        width: 100%;
        height: auto;
        min-height: 8em;
        border-bottom: 1px solid white;
    }
    
    div.reg_users_content h1 {
        color: white;
        text-align: left;
        margin-left: 1em;
        margin-top: 1em;
        font-size: 2.5em;
    }
    
    div.reg_users_content1 {
        width: 100%;
        height: auto;
        min-height: 10em;
        border-bottom: 1px solid white;
    }
    
    div.reg_users_content1 h1 {
        color: white;
        text-align: left;
        margin-right: 1em;
        margin-left: 1em;
        font-size: 2.5em;
    }
    h1.main_article_title {
        display: block;
        line-height: 1em;
        margin: 2em 0 1.3em 0;
        text-align: center;
    }
    .sign_in_congrats {
        padding-top: 2em;
        margin: 0;
        text-align: center;
    }
    .log_in_button {
        font-size: 1.7em;
    }
    .main_weather_input{
        margin-bottom: 7em;
        margin-left: 1em;
    }
    .less_weather_data {
        font-size: 1.5em;
        top: 1.65em;
        left: 4em;
    }
    .weather_image {
        width: 4.5em;
    }
    .weather_info h2 ,
    .weather_info p {
        font-size: 2em;
    }
    .chat_container {
        margin-right: 6em;
        align-items: center;
    }
    .chat_input {
        margin-left: 27%;
    }
    .chat_clear button {
        position: absolute;
        left: 0;
    }
}